{% extends "creative_design1/base.html" %}

{% block page_header %}
<div class="jumbotron">
	<h1 class="display-3">Monitoruj postepy w nauce</h1>
	<p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis nobis possimus repellat. Necessitatibus sequi harum libero magnam et aliquid odit perspiciatis aliquam voluptatem. Omnis atque qui consequatur neque, iure repellat odio optio temporibus facilis magnam?
	</p>

	<a class="btn btn-lg btn-primary" href="{% url 'users:register' %}">Zarejestruj konto &raquo;</a>
</div>
{% endblock page_header %}
